footer{
    background-color: black;
    padding: 20px;
}
.four-div-wraper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
li {
    color: white;
  list-style: none;
  margin-bottom: 10px;
}

